.minecraft/.ReAuth.cfg
.minecraft/.mixin.out
.minecraft/WailaErrorOutput.txt
.minecraft/config/fantasticlib
.minecraft/config/jei/worldSettings.cfg
.minecraft/config/multimob/modInformation
.minecraft/config/splash.properties
.minecraft/XaeroWaypoints
.minecraft/XaeroWaypoints_BACKUP*
.minecraft/XaeroWorldMap
.minecraft/additions_client_data.dat
.minecraft/ambience_music
.minecraft/backups
.minecraft/bendspacks
.minecraft/betweenlands_gallery
.minecraft/coremods
.minecraft/crafttweaker.log
.minecraft/crash-reports
.minecraft/customnpcs
.minecraft/dropt.log
.minecraft/dumps
.minecraft/hei_bookmarks.ini
.minecraft/hookt.log
.minecraft/hs_err_pid
.minecraft/itemscroller
.minecraft/journeymap
.minecraft/llibrary
.minecraft/loading-log.log
.minecraft/local
.minecraft/logs
.minecraft/optionsshaders.txt
.minecraft/patchouli_data.json
.minecraft/prestige
.minecraft/roots.log
.minecraft/saves
.minecraft/screenshots
.minecraft/server-resource-packs
.minecraft/shaderpacks
.minecraft/structures
.minecraft/texturepacks
.minecraft/uniquecrops
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/icon.png
.minecraft/knownkeys.txt
.minecraft/options.txt
.minecraft/optionsof.txt
.disabled
.packignore
mmc-pack.json
.minecraft/config/activity.json
.minecraft/config/fantasticlib/reference/blocks.txt
.minecraft/config/fantasticlib/reference/blockstates.txt
.minecraft/config/fantasticlib/reference/enchantments.txt
.minecraft/config/fantasticlib/reference/entities.txt
.minecraft/config/fantasticlib/reference/items.txt
.minecraft/config/fantasticlib/reference/oredict.txt
.minecraft/config/fantasticlib/reference/potion_types.txt
.minecraft/config/fantasticlib/reference/recipes.txt
.minecraft/config/jei/worldSettings.cfg
.minecraft/config/multimob/modInformation/allBiomeTypes.txt
.minecraft/config/multimob/modInformation/allBlocks.txt
.minecraft/config/multimob/modInformation/allBlockStates.txt
.minecraft/config/multimob/modInformation/allEnchantments.txt
.minecraft/config/multimob/modInformation/allEntities.txt
.minecraft/config/multimob/modInformation/allItems.txt
.minecraft/config/multimob/modInformation/allPotionTypes.txt
.minecraft/config/Special_AI.cfg
.minecraft/config/splash.properties
.minecraft/config/tool_progression/blocks.cfg
.minecraft/config/xaerominimap_entities.json
.minecraft/resources/contenttweaker/models/item/ravaging_breach.json
