.minecraft/.ReAuth.cfg
.minecraft/.mixin.out
.minecraft/WailaErrorOutput.txt
.minecraft/XaeroWaypoints
.minecraft/XaeroWaypoints_BACKUP
.minecraft/XaeroWorldMap
.minecraft/additions_client_data.dat
.minecraft/ambience_music
.minecraft/backups
.minecraft/bendspacks
.minecraft/betweenlands_gallery
.minecraft/coremods
.minecraft/crafttweaker.log
.minecraft/crash-reports
.minecraft/customnpcs
.minecraft/dropt.log
.minecraft/dumps
.minecraft/hei_bookmarks.ini
.minecraft/hookt.log
.minecraft/hs_err_pid
.minecraft/itemscroller
.minecraft/journeymap
.minecraft/llibrary
.minecraft/loading-log.log
.minecraft/local
.minecraft/logs
.minecraft/optionsshaders.txt
.minecraft/patchouli_data.json
.minecraft/prestige
.minecraft/roots.log
.minecraft/saves
.minecraft/screenshots
.minecraft/server-resource-packs
.minecraft/shaderpacks
.minecraft/structures
.minecraft/texturepacks
.minecraft/uniquecrops
.minecraft/usercache.json
.minecraft/usernamecache.json
.disabled