# Configuration file

balance {
    # Chance for a knapping to occur. Set to zero to disable knapping.
    # Min: 0.0
    # Max: 1.0
    D:knappingChance=0.6

    # Chance for a successful knapping
    # Min: 0.0
    # Max: 1.0
    D:knappingSuccessChance=0.7

    # The chance for leaves to drop sticks when broken
    # Min: 0.0
    # Max: 1.0
    D:leavesStickDropChance=0.2

    # Chance for a log chopping to occur
    # Min: 0.0
    # Max: 1.0
    D:logChoppingChance=0.6
}


general {
    # Blocks that are always breakable. Use the format modid:registryname or modid:registryname:metadata
    # Note that this will not make blocks drop if they wouldn't normally drop when broken with fists.
    S:alwaysBreakable <
        minecraft:leaves
        minecraft:gravel
        minecraft:sand
        minecraft:dirt
        minecraft:grass
     >

    # If true, this will allow NTP to search aggressively for recipes and try and replace log -> wood recipes. (Makes NTPs wood chopping / saw recipes more automatic.) For pack makers: this WILL run after craft tweaker, and it WILL override any recipes craft tweaker adds.
    B:enableAdvancedRecipeReplacement=true

    # If false, this will disable all changes to breaking speed + block drops.
    B:enableBreakingChanges=true

    # If true, NTP will add its own log->plank and plank->stick recipes and remove old versions
    # If false, NTP will still add its own recipes, but it will not remove any other vanilla or modded recipes
    B:replaceLogRecipes=true

    # If true, NTP will remove recipes for vanilla wooden + stone tools. It will also attempt to hide these items from the creative inventory.
    # If false, NTP will not add or remove any vanilla recipes
    B:replaceVanillaRecipes=true
}


tools {
    # Enable bronze versions of NTP tools (knife, mattock, saw)
    B:enableBronzeTools=true

    # Enable copper versions of NTP tools (knife, mattock, saw)
    B:enableCopperTools=true

    # Enable steel versions of NTP tools (knife, mattock, saw)
    B:enableSteelTools=true

    # Enable tin versions of NTP tools (knife, mattock, saw)
    B:enableTinTools=true

    # Mining level of bronze tools. 0 = Wood, 1 = Stone, 2 = Iron, 3 = Diamond
    # Min: 0
    # Max: 4
    I:miningLevelBronze=2

    # Mining level of copper tools. 0 = Wood, 1 = Stone, 2 = Iron, 3 = Diamond
    # Min: 0
    # Max: 4
    I:miningLevelCopper=1

    # Mining level of steel tools. 0 = Wood, 1 = Stone, 2 = Iron, 3 = Diamond
    # Min: 0
    # Max: 4
    I:miningLevelSteel=3

    # Mining level of tin tools. 0 = Wood, 1 = Stone, 2 = Iron, 3 = Diamond
    # Min: 0
    # Max: 4
    I:miningLevelTin=0
}


